#filterModal .modal-dialog{
    width: 90%;
}

.modal-dialog li{
    list-style-type: none;
    padding: 6px;
}

#filterModal li .glyphicon{
    padding-right: 12px;
}

#filterModal li div{
    display: inline;
}

.subQuery{
    margin-left: 20px;
}
